<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>健科电子MES系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">

    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
</head>
<body class="layui-layout-body">

    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <!-- 头部区域 -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect>
                        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="" target="_blank" title="前台">
                            <i class="layui-icon layui-icon-website"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;" layadmin-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                    <li class="layui-nav-item" lay-unselect>
                        <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                            <i class="layui-icon layui-icon-notice"></i>

                            <!-- 如果有新消息，则显示小圆点 -->
                            <span class="layui-badge-dot"></span>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="theme">
                            <i class="layui-icon layui-icon-theme"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="note">
                            <i class="layui-icon layui-icon-note"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="fullscreen">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;">
                            <cite id="loginuser" value="">嘉腾</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                            <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                             
                            <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <!--<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>-->
                    </li>
                    <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                        <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                    </li>
                </ul>
            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo" lay-href="home/console.html">
                        <span>健科电子MES系统</span>
                    </div>

                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;" lay-tips="主页" lay-direction="2">
                                <i class="layui-icon layui-icon-home"></i>
                                <cite>主页</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console" class="layui-this">
                                    <a lay-href="home/console.html">控制台</a>
                                </dd>
                            </dl>
                        </li>
                        <li data-name="component" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="基础信息" lay-direction="2">
                                <i class="layui-icon layui-icon-component"></i>
                                <cite>基础信息</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a lay-href="component/devices/devicelist.html">设备台账</a></dd>
                            </dl>
                        </li>

                        <!-- 开始测试：生产计划 -->
                        <li data-name="plan" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="生产计划" lay-direction="2">
                                <i class="layui-icon layui-icon-date"></i>
                                <cite>生产计划</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="planissue">
                                    <a lay-href="component/plan/index.html">计划下达</a>
                                </dd>
                                <dd data-name="planprocess">
                                    <a lay-href="component/plan/planprogress.html">进度查看</a>
                                </dd>
                                <dd data-name="planprocess">
                                    <a lay-href="component/plan/planreport.html">进度汇报</a>
                                </dd>
                                <dd data-name="planprocess">
                                    <a lay-href="component/plan/production.html">生产统计</a>
                                </dd>
                            </dl>
                        </li>
                        <!-- 结束测试：生产计划 -->

                        <li data-name="template" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="设备管理" lay-direction="2">
                                <i class="layui-icon layui-icon-template"></i>
                                <cite>设备管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <!--<dd><a lay-href="component/devices/devicelist.html">设备台账</a></dd>-->
                                <dd><a lay-href="component/devices/devicelog.html">设备日志</a></dd><!--设备每天的运转、停机、故障等情况-->
                                <dd data-name="content">
                                    <a href="javascript:;">设备故障</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="component/devices/devicefail.html">故障追踪</a></dd><!--故障设备情况的追踪，报修、维修、确认等-->
                                        <dd><a lay-href="component/devices/failreport.html">故障报修</a></dd><!--设备故障报修，操作工提交-->
                                        <dd><a lay-href="component/devices/assign.html">维修派单</a></dd><!--维修班班长分派维修任务-->
                                        <dd><a lay-href="component/devices/takejob.html">维修接单</a></dd><!--维修人员接单或者查看分派给自己的任务-->
                                        <dd><a lay-href="component/devices/confirm.html">修复确认</a></dd><!--修复完毕后，由操作工确认-->
                                        <dd><a lay-href="component/devices/fixlog.html">维修记录</a></dd><!--查看维修历史记录-->
                                    </dl>
                                </dd>
                                <dd data-name="content">
                                    <a href="javascript:;">设备点检</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="component/devices/devicecheck.html">操作点检</a></dd><!--设备每天的运转、停机、故障等情况-->
                                        <dd><a lay-href="component/devices/checkresult.html">操作点检查看</a></dd><!--设备每天的运转、停机、故障等情况-->
                                        <dd><a lay-href="component/devices/checksummary.html">操作点检汇总</a></dd><!--设备每天的运转、停机、故障等情况-->
                                        <dd><a lay-href="component/devices/expertcheck.html">专业点检</a></dd><!--设备每天的运转、停机、故障等情况-->
                                        <dd><a lay-href="component/devices/expertresult.html">专业点检查看</a></dd><!--设备每天的运转、停机、故障等情况-->
                                    </dl>
                                </dd>
                                <dd data-name="content">
                                    <a href="javascript:;">设备保养</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="component/devices/yearmaintainmake.html">年度保养计划制表</a></dd><!--设备每天的运转、停机、故障等情况-->
                                        <dd><a lay-href="component/devices/yearmaintenanceview.html">年度保养计划查看</a></dd><!--设备每天的运转、停机、故障等情况-->
                                    </dl>
                                </dd>
                            </dl>
                        </li>
                        <li data-name="app" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="能耗监控" lay-direction="2">
                                <i class="layui-icon layui-icon-app"></i>
                                <cite>能耗监控</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a lay-href="component/energy/energy.html">电量消耗</a>
                                </dd>

                                <dd>
                                    <a lay-href="component/energy/report.html">能耗报表</a>
                                </dd>

                                <dd>
                                    <a lay-href="component/energy/report1.html">设备电耗</a>
                                </dd>

                                <dd>
                                    <a lay-href="component/energy/report2.html">电耗分析</a>
                                </dd>

                                <dd>
                                    <a lay-href="component/energy/report3.html">设备组能耗分析</a>
                                </dd>
                               

                            </dl>
                        </li>
                        <li data-name="senior" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="统计分析" lay-direction="2">
                                <i class="layui-icon layui-icon-senior"></i>
                                <cite>统计分析</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a lay-href="component/devices/dailyreport.html">设备运行数据表</a></dd>
                                <dd><a lay-href="component/devices/dailyreportview.html">设备完好日报表</a></dd>
                                <dd><a lay-href="component/devices/deviceperformance.html">设备运行时间及完好率</a></dd>
                                <dd><a lay-href="component/devices/deviceevaluate.html">设备管理评价指标统计表</a></dd>
                            </dl>
                        </li>
                        <li data-name="user" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="权限管理" lay-direction="2">
                                <i class="layui-icon layui-icon-user"></i>
                                <cite>权限管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a lay-href="component/users/userlist.html">用户管理</a>
                                </dd>
                                <dd>
                                    <a lay-href="component/users/deptroles.html">部门角色</a>
                                </dd>
                                <dd>
                                    <a lay-href="component/users/menus.html">菜单管理</a>
                                </dd>
                                <dd>
                                    <a lay-href="component/users/menuspermission.html">菜单权限</a>
                                </dd>
                                <dd>
                                    <a lay-href="user/administrators/list.html">后台管理员</a>
                                </dd>
                                <dd>
                                    <a lay-href="user/administrators/role.html">权限设置</a>
                                </dd>
                            </dl>
                        </li>
                        <li data-name="set" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="系统设置" lay-direction="2">
                                <i class="layui-icon layui-icon-set"></i>
                                <cite>系统设置</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <!--<dd class="layui-nav-itemed">
                                    <a href="javascript:;">系统设置</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="set/system/website.html">网站设置</a></dd>
                                        <dd><a lay-href="set/system/email.html">邮件服务</a></dd>
                                    </dl>
                                </dd>-->
                                <dd class="layui-nav-itemed">
                                    <a href="javascript:;">我的设置</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                                        <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                                    </dl>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 页面标签 -->
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                    </ul>
                </div>
            </div>

            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe src="home/console.html" frameborder="0" class="layadmin-iframe"></iframe>
                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>
    <script src="../layuiadmin/layui/layui.js"></script>

    <script type="text/javascript">
        layui.config({
            base: '../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use('index', function () {

            var $ = layui.$;
            //获取并显示登录信息
            var u = layui.data('login');
            //console.log(u.realname);
            //console.log(u.username);
            if (u.username === undefined) {
                location.href = 'user/login.html';
                //alert('用户未登录');
                return;
            }
            $('#loginuser').html(u.realname);
            $('#loginuser').attr('value', u.username);
            layui.admin.sideFlexible('shrink');//折叠侧边
            var menuData = [
                { name: '控制台', url: 'home/console.html' },
                { name: '设备台账', url: 'component/devices/devicelist.html' },
                { name: '计划下达', url: 'component/plan/index.html' },
                { name: '进度查看', url: 'component/plan/planprogress.html' },
                { name: '进度汇报', url: 'component/plan/planreport.html' },
                { name: '生产统计', url: 'component/plan/production.html' },
                { name: '设备日志', url: 'component/devices/devicelog.html' },
                { name: '故障追踪', url: 'component/devices/devicefail.html' },
                { name: '故障报修', url: 'component/devices/failreport.html' },
                { name: '维修派单', url: 'component/devices/assign.html' },
                { name: '维修接单', url: 'component/devices/takejob.html' },
                { name: '修复确认', url: 'component/devices/confirm.html' },
                { name: '维修记录', url: 'component/devices/fixlog.html' },
                { name: '操作点检', url: 'component/devices/devicecheck.html' },
                { name: '操作点检查看', url: 'component/devices/checkresult.html' },
                { name: '操作点检汇总', url: 'component/devices/checksummary.html' },
                { name: '专业点检', url: 'component/devices/expertcheck.html' },
                { name: '专业点检查看', url: 'component/devices/expertresult.html' },
                { name: '年度保养计划制表', url: 'component/devices/yearmaintainmake.html' },
                { name: '年度保养计划查看', url: 'component/devices/yearmaintenanceview.html' },
                { name: '电量消耗', url: 'component/energy/energy.html' },
                { name: '能耗报表', url: 'component/energy/report.html' },

                { name: '设备电耗', url: 'component/energy/report1.html' },  
                { name: '电耗分析', url: 'component/energy/report2.html' },  
                { name: '设备组能耗分析', url: 'component/energy/report3.html' },  

               
                { name: '设备运行数据表', url: 'component/devices/dailyreport.html' },
                { name: '设备完好日报表', url: 'component/devices/dailyreportview.html' },
                { name: '设备运行时间及完好率', url: 'component/devices/deviceperformance.html' },              
                { name: '设备管理评价指标统计表', url: 'component/devices/deviceevaluate.html' },
                { name: '用户管理', url: 'component/users/userlist.html' },
                { name: '部门角色', url: 'component/users/deptroles.html' },
                { name: '菜单管理', url: 'component/users/menus.html' },
                { name: '菜单权限', url: 'component/users/menuspermission.html' },
                { name: '后台管理员', url: 'user/administrators/list.html' },
                { name: '权限设置', url: 'user/administrators/role.html' },
                { name: '基本资料', url: 'set/user/info.html' }, 
                { name: '修改密码', url: 'set/user/password.html' }
            ];
            var dat = JSON.parse($.ajax({ url: "../../..//Handlers/Handler-index.ashx?actid=getPermission&userid=" + u.username, async: false }).responseText).data;

           
            //<dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
            //<dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
            //<dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>

            //console.log(u.username);
            var map = [];
            for (i = 0; i < dat.length; i++) {
                map[dat[i].name] = 1;
            }
            //layer.msg('无此权限');
            map["关闭当前标签页"] = 1;
            map["关闭其它标签页"] = 1;
            map["关闭全部标签页"] = 1;

            map["基本资料"] = 1;
            map["修改密码"] = 1;
            map["退出"] = 1;
          
            //console.log(map);

            var dds = document.getElementsByTagName("dd");
            for (i = 0; i < dds.length; i++) { 
                var chr = dds[i].children;
                //var kes = 0;
                for (j = 0; j < chr.length; j++) {
                   // console.log(chr[j].children.length);
                    //chr[j].innerText
                    if (map[chr[j].innerText.replace(/\s+/g, "")] == 1 || u.username == "00000" || chr[j].children.length !=0) {
                        kes = 1;
                    } else {
                        chr[j].parentNode.style.display = "none";
                    }
                    //console.log(chr[j].innerText.replace(/\s+/g, ""));
                    // console.log(chr[j].innerText.replace(/\s+/g,"")); 
                }
                if (chr.length!=0 && kes == 0) {
                    //dds[i].parentNode.parentNode.style.display = "none";
                    //console.log(dds[i].parentNode.parentNode);
                }                 //if(kes == 0) document.getElementsByTagName("dd")[i].parentNode.style.display="none";
                //dds[i].
                //yus.innerText
            }

            var dls  =  document.getElementsByTagName("dl");

            for(i = 0;i < dls.length;i++){
	            var p    = 1;
	            for(j=0;j< dls[i].children.length;j++){
		            if(dls[i].children[j].style.display=="none"){
		
		            }else{
			            p= 0;
		            }
	            }
	            if(p==1)dls[i].parentNode.style.display = "none"
            }


            //document.getElementsByTagName("a")[10].style.display="none";
            //根据权限判断是否跳转
            $(document).on('click', 'a[lay-href]', function () {
                var othis = $(this)
                    , href = null
                    , text = null
                    , router = layui.router(); 
                var menu = othis.text();
                $.each(menuData, function (i, n) {
                    if (n.name == menu) {
                        href = n.url;
                        //console.log(href);
                    }
                });

                
                $.ajax({
                    url: '../Handlers/Handler-index.ashx',
                    data: { actid: 'checkPermission', menuname: menu, userid: u.username },
                    success: function (res) {
                        if (res == 'success' || u.username=='00000') {
                            parent.layui.admin.events.closeThisTabs();
                            var topLayui = parent === self ? layui : top.layui;
                            //console.log(href+', '+ othis.text());
                            topLayui.index.openTabsPage(href, text || othis.text());

                        } else {
                            layer.msg('无此权限');
                            parent.layui.admin.events.closeThisTabs();
                        }
                    },
                    error: function (e) {

                    }
                });                
            });
        });        
    </script>
</body>
</html>


