<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>维修派单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div class="layui-card">
        <div class="layui-card-header">维修派单</div>
        <div class="layui-card-body">
            <table class="layui-table" id="failtable" lay-filter="demo"></table>
        </div>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <!--<button class="layui-btn layui-btn-sm" lay-event="addNew">新增</button>-->
            </div>
        </script>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="assign">派单</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="take">接单</a>
        </script>
    </div>


    <script src="../../../layuiadmin/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use(['tree', 'util', 'table'], function () {
            var table = layui.table;
            var form = layui.form
                , $ = layui.$
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //所获得的 tableIns 即为当前容器的实例
            var tableIns = table.render({
                elem: '#failtable'
                , url: '../../../Handlers/Handler-devicelist.ashx' //设置异步接口
                , where: { actid: 'getFailTableByactive' }
                , cols: [[
                    //{ checkbox: true, fixed: true, style: 'background-color: #eee;' }
                    { field: 'Id', width: 75, sort: true, fixed: true, style: 'background-color: #eee;', title: 'ID' , hide:true}
                    , {
                        field: 'IssueState', width:75,align: 'center', title: '操作', templet: function (d) {
                            if (d.IssueState === '待维修') {

                                return '<a class="layui-btn layui-btn-xs" lay-event="assign">派单</a>'+'<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="take">接单</a>';

                            } else if (d.IssueState === '已派单') {

                                return '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查询</a>';
                                //'<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="take">接单</a>';

                            } else if (d.IssueState === '维修中') {

                                return '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查询</a>';
                                //'<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="take">接单</a>';

                            } else if (d.IssueState === '待验收') {

                                return '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查询</a>';
                                // '<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="take">接单</a>';

                            } else if (d.IssueState === '已验收') {

                                return '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查询</a>';
                                //'<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="take">接单</a>';

                            }
                        }
                    }
                    //, { field: 'DevNo', sort: true, style: 'background-color: #eee;', title: '设备号' }
                    , { field: 'DevName',width: 120, minWidth: 120, sort: true, style: 'background-color: #eee;', title: '设备名称' }
                    //, { field: 'DevType', style: 'background-color: #eee;', title: '规格型号' }
                    //, { field: 'DevDept', sort: true, style: 'background-color: #eee;', title: '安装地点' }
                    , { field: 'reserved2',width: 90, sort: true, title: '故障类型' } //xxy 2020-06-30
                    , { field: 'IssueDesc', title: '故障描述' }
                    , { field: 'Reporter',width: 80, title: '报修人' }
                    , { field: 'ReportTime',width: 110, title: '报修时间' }
                    , {
                        field: 'IssueState',width: 80, title: '维修状态', templet: function (d) {
                            if (d.IssueState === '待维修') {
                                return '<span style="color: red;">' + d.IssueState + '</span>'
                            } else if (d.IssueState === '已派单') {
                                return '<span style="color: green;">' + d.IssueState + '</span>'
                            } else if (d.IssueState === '维修中') {
                                return '<span style="color: orange;">' + d.IssueState + '</span>'
                            } else if (d.IssueState === '待验收') {
                                return '<span style="color: blue;">' + d.IssueState + '</span>'
                            } else if (d.IssueState === '已验收') {
                                return '<span style="">' + d.IssueState + '</span>'
                            }
                        }
                    }
                    // , { fixed: 'right', minWidth:150, align:'center', toolbar: '#barDemo', title:'操作'}
                    
                ]]
                , id: 'idTest'
                , height: 540
                , page: true
                , toolbar: '#toolbarDemo'
            });


            //头工具栏事件
            table.on('toolbar(demo)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addNew':
                        layer.open({
                            title: '添加设备',
                            type: 2,
                            skin: 'layui-layer-rim', //加上边框
                            area: ['1024px', '768px'], //宽高
                            content: 'devadd.html'
                        });
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;

                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(demo)', function (obj) {
                var data = obj.data;
                console.log(data);
                if (obj.event === 'take') {
                    if (data.IssueState !== '待维修') {
                        layer.msg('该故障已处理');
                        return;
                    }
                    layer.confirm('真的要自己干么？', function (index) {
                        layer.close(index);
                        var my = layui.data('login');
                        var myid = my.username;
                        var myname = my.realname;
                        $.ajax({
                            url: '../../../Handlers/Handler-devicelist.ashx',
                            data: { actid: 'takeJob', data: JSON.stringify(data), workid: myid, workname: myname },
                            success: function (res) {
                                alert("祝你成功！");
                                //执行重载
                                table.reload('idTest', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                    , where: {
                                    }
                                }, 'data');
                            },
                            error: function (e) {
                                console.log(e);
                                alert('接单失败！');
                            }
                        });
                    });
                } else if (obj.event === 'edit') {
                    //layer.alert(JSON.stringify(data));

                    layer.open({
                        title: '编辑设备',
                        type: 2,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['1024px', '768px'], //宽高
                        content: 'devedit.html',
                        success: function (layero, index) {
                            var body = layer.getChildFrame('body', index);
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            body.find("input[name='id']").val(data.Id);
                            body.find("input[name='devno']").val(data.DevNo);
                            body.find("input[name='devname']").val(data.DevName);
                            body.find("input[name='devtype']").val(data.DevType);
                            body.find("input[name='quantity']").val(data.Quantity);
                            body.find("input[name='vender']").val(data.Vender);
                            body.find("input[name='devdept']").val(data.DevDept);
                            body.find("input[name='buydate']").val(data.BuyDate);
                            body.find("input[name='lifetime']").val(data.LifeTime);
                            body.find("input[name='devclass']").val(data.DevClass);

                            body.find("input[name='reserved2']").val(data.reserved2);
                            body.find("input[name='Reporter']").val(data.Reporter);
                            body.find("input[name='ReportTime']").val(data.ReportTime);
                            body.find("input[name='IssueState']").val(data.IssueState);
                            body.find("input[name='IssueDesc']").val(data.IssueDesc); 
                        }
                    });
                } else if (obj.event === 'assign') {
                    if (data.IssueState !== '待维修') {
                        layer.msg('该故障已处理');
                        return;
                    }
                    layer.open({
                        type: 2
                        , title: '维修派单'
                        , content: 'assignform.html'
                        , maxmin: true
                        , area: ['480px', '440px']
                        , btn: ['确定', '取消']
                        , yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submitID = 'LAY-user-front-submit'
                                , submit = layero.find('iframe').contents().find('#' + submitID);

                            //监听提交
                            iframeWindow.layui.form.on('submit(' + submitID + ')', function (info) {
                                var field = info.field; //获取提交的字段
                                //console.log(field);

                                //提交 Ajax 成功后，静态更新表格中的数据
                                //$.ajax({});
                                ////更新数据库
                                var options = layero.find('iframe').contents().find("#worker option:selected");//获取子页面的选择项.
                                var usrName = options.text();//获取当前选择项的文本.
                                console.log(usrName + ' : ' + data.Id);

                                $.ajax({
                                    url: '../../../Handlers/Handler-devicelist.ashx',
                                    data: { actid: 'assignRepairman', workid: field.workid, workname: usrName, issueid: data.Id },
                                    success: function (data) {
                                        alert('已安排维修人员！');
                                    },
                                    error: function (e) {
                                        console.log(e);
                                    }
                                });

                                //这里以搜索为例
                                tableIns.reload({
                                    where: { //设定异步数据接口的额外参数，任意设
                                        actid: 'getFailTable'
                                    }
                                    , page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                                layer.close(index); //关闭弹层
                            });

                            submit.trigger('click'); //代替子页面的click按钮事件
                        }
                    });

                } else if (obj.event === 'detail') {

                    layer.open({
                        title: '派单信息',
                        type: 2,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['90%', '90%'], //宽高
                        content: 'assignDetail.html',
                        success: function (layero, index) {
                            var body = layer.getChildFrame('body', index);
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            body.find("input[name='id']").val(data.Id);
                            body.find("input[name='devno']").val(data.DevNo);
                            body.find("input[name='devname']").val(data.DevName);
                            body.find("input[name='devtype']").val(data.DevType);
                            body.find("input[name='quantity']").val(data.Quantity);
                            body.find("input[name='vender']").val(data.Vender);
                            body.find("input[name='devdept']").val(data.DevDept);
                            body.find("input[name='buydate']").val(data.BuyDate);
                            body.find("input[name='lifetime']").val(data.LifeTime);
                            body.find("input[name='devclass']").val(data.DevClass);

                            body.find("input[name='reserved2']").val(data.reserved2);
                            body.find("input[name='Reporter']").val(data.Reporter);

                            body.find("input[name='Repairman']").val(data.Repairman);

                            body.find("input[name='ReportTime']").val(data.ReportTime);
                            body.find("input[name='IssueState']").val(data.IssueState); 
                            body.find("input[name='TakeJobTime']").val(data.TakeJobTime);
                            body.find("input[name='RepairLeader']").val(data.RepairLeader);  
                            body.find("input[name='RepairTime']").val(data.RepairTime); 
                            body.find("textarea[name='IssueDesc']").val(data.IssueDesc);
                            body.find("textarea[name='RepairDesc']").val(data.RepairDesc);
                            body.find("textarea[name='reserved3']").val(data.reserved3);

                        }
                    });
                }
            });
        });
    </script>

</body>
</html>